sudo: required

dist: trusty

language: node_js

node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "5"


install:
  - npm install

script:
  - npm test

matrix:
  fast_finish: true

cache:
  directories:
    - node_modules
