clone_depth: 10

version: "{build}"

environment:
  matrix:
    - nodejs_version: "0.10"
      platform: x86
    - nodejs_version: "4"
      platform: x64
    - nodejs_version: "4"
      platform: x86
    - nodejs_version: "6"
      platform: x86
    - nodejs_version: "7"
      platform: x86

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install

build: off

test_script:
  - node --version
  - npm --version
  - java -version
  - npm test

matrix:
  fast_finish: true

cache:
  - node_modules -> package.json
