name: Tests

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 2
  NODE_COV: 24 # The Node.js version to run coveralls on

jobs:
  test:
    name: Node ${{ matrix.node }} - ${{ matrix.architecture }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [18, 20, 22, 24]
        java: [25]
        architecture: [x64]
        include:
          - os: macos-latest
            node: 24
            java: 25
            architecture: x64
          - os: windows-latest
            node: 24
            java: 25
            architecture: x64
          - os: windows-latest
            node: 22
            java: 17
            architecture: x86

    steps:
      - name: Clone repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture }}
          cache: npm

      - name: Set up Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: "temurin"
          architecture: ${{ matrix.architecture }}
          java-version: ${{ matrix.java }}

      - name: Install npm dependencies
        run: npm ci

      - name: Run full tests
        run: npm run test:coverage
        if: "!startsWith(matrix.os, 'windows')"

      - name: Run tests
        run: npm run mocha
        if: startsWith(matrix.os, 'windows')

      - name: Run Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        if: startsWith(matrix.os, 'ubuntu') && matrix.node == env.NODE_COV
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
