name: Tests

on: [push, pull_request]

env:
  FORCE_COLOR: 2

jobs:
  test:
    name: Node ${{ matrix.node }} - ${{ matrix.architecture }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [14, 16, 18]
        java: [17]
        architecture: [x64]
        include:
          - os: windows-latest
            node: 16
            java: 17
            architecture: x64
          - os: windows-latest
            node: 16
            java: 17
            architecture: x86

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.architecture }}
          cache: npm

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          architecture: ${{ matrix.architecture }}
          java-version: ${{ matrix.java }}

      - name: Install npm dependencies
        run: npm ci

      - name: Run full tests
        run: npm run test:coverage
        if: matrix.os == 'ubuntu-latest'

      - name: Run tests
        run: npm run mocha
        if: matrix.os == 'windows-latest'

      - name: Run Coveralls
        uses: coverallsapp/github-action@1.1.3
        if: matrix.os == 'ubuntu-latest' && matrix.node == 16
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
